<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seconds - Backend [API]</title>
</head>
<body style="background-color: green">

<h3 style="text-align: center;  color: white">SECONDS API</h3>
<div style="text-align: left; color: white">
    <h4>EndPoints</h4>
    <p>/api/register_passenger/</p>
    <p>/api/register_driver/</p>
    <p>/api/register_boda/</p>
    <p>/api/users/login/</p>
    <p>/api/users/profile/</p>
    <p>/api/users/</p>

     <p>----  FEEDBACK  ----</p>
   <p>POST:  --- /api/add_feedback/</p>
    <p>GET ALL:  --- /api/add_feedback/</p>
    <p>GET:  --- /api/feedback/detail/id/</p>
    <p>GET:  --- /api/feedback/delete/id/</p>

</div>

</body>
</html>